* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    display: flex;
    min-height: 100vh;
    margin-top: 50px;
}

.left {
    background-size: cover;
    background-position: center center;
    padding: 0 40px 40px;
    width: 100%;
}

.inner {
    max-width: 600px;
    margin: auto;
}

.hero-bg {
    width: 300px;
}

.right {
    width: 50%;
}

.right img {
    width: 650px;
}

.bg-color {
    background-image: url("https://images.unsplash.com/photo-1603217192634-61068e4d4bf9?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTIzfHxpbmZsdWVuY2Vyc3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60");
    background-size: cover;
    background-position: center;
}

#dropdown-basic-button {
    margin-bottom: 20px;
}

.logo {
    font-size: 60px;
    margin-bottom: 30px;
    color: #F50057;
}

.imge {
    width: 100%;
}

.form-elem {
    margin-top: 80px;
}

.registerLink {
    padding-left: 0em;
    padding-top: 0em;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: rgb(73, 79, 82);
    color: #fff;
    text-align: center;
}


/*
.nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.nav-links li {
    color: #fff;
}
@media only screen and (max-width: 1000px) {
    .nav-links {
        width: 60%;
    }
}
*/

.onboarding-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.landing-text {
    padding: 0 70px 70px;
}

.landing-text h1 {
    font-size: 60px;
    color: #F50057;
}

.landing-text p {
    font-size: 28px;
}

.landing-img {
    width: 50%;
}

.landing-img img {
    width: 800px;
}

.btn {
    border-color: transparent;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 15px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.btn-outline-secondary {
    color: #3f51b5;
    background-color: none;
}

.btn-primary {
    background-color: #F50057;
}

.btn:hover {
    background-color: #3f51b5;
    color: white;
    border: none;
}

.btn-onboarding {
    border: 0.5px solid black;
    background-color: transparent;
    border-radius: 100px;
    color: black;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 15px;
    margin-right: 20px;
    margin-bottom: 20px;
    outline: none;
}

.btn-onboarding:hover {
    background-color: #F50057;
    color: white;
    border: none;
}

.avatar {
    width: 261px;
    margin-top: 20px;
    margin-left: 270px;
}

.nav-pills .nav-link.active {
    background-color: #F50057!important;
    border-radius: 20px;
    color: white!important;
    font-size: 16px;
    font-weight: 500;
    outline: none;
}

.nav-fill {
    color: black!important;
    text-decoration: none;
    background-color: transparent;
}

body a {
    color: grey!important;
}

.fa-check-circle {
    font-size: 15px;
}

.profile-details {
    padding-bottom: 30px;
    text-align: center;
}

.MuiAppBar-colorPrimary {
    color: #fff;
    background-color: #f50057;
  
}


.MuiSvgIcon-root {
    color: white;

}
.videoicon {
    width: 2px;
}

.waves-light-hero {
    max-width: 100%;
    min-height: 350px;
    background: url(https://images.unsplash.com/photo-1610014205112-051396496937?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1673&q=80);
  background-repeat: no-repeat;
    background-size: cover;

}

.btn-tw,
.btn-gplus, 
.btn-fb,
.waves-light {
    color: #fff;
    background-color: #3526be;
 }
 div.carousel-item.active.carousel-slide-item {
    display: inline-flex !important;
}

.videoicon {
    width: 2px;
}
